@import url("https://fonts.googleapis.com/css2?family=Bentham&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://unpkg.com/boxicons@latest/css/boxicons.min.css");

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    list-style-type: none;
    text-decoration: none;
}

html {
    box-sizing: inherit;
    scroll-behavior: smooth;
    height: -webkit-fill-available;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    height: -webkit-fill-available;
    color: #6b7280;
    background-color: #ffffff;
}

body.overflow-hidden {
    overflow: hidden;
}

main {
    overflow: hidden;
}

a,
button {
    cursor: pointer;
    border: none;
    outline: none;
    user-select: none;
    background: none;
    box-shadow: none;
    text-decoration: none;
}

img,
video {
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.Normal-title,
.Normal-subtitle {
    font-family: "Bentham", serif;
}

.container {
    max-width: 1462px;
    height: auto;
    margin: 0 auto;
    padding: 0 24px;
}

.Normal-header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: auto;
    margin: 0 auto;
    transition: all 0.35% ease;
}

.Normal-header-container {
    width: 100%;
    padding: 0 25px;
}

.Normal-header.on-scroll {
    background: rgba(255, 255, 255, 0.95);
    backdrop-filter: blur(20%);
    -webkit-backdrop-filter: blur(20px);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.Normal-navbar {
    width: 100%;
    transform: all 0.4s ease-in-out;
    padding: 20px 0;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.05),
        inset 0 -1px 0 rgba(0, 0, 0, 0.05);
}

.Normal-navbar .Normal-header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.Normal-brand {
    display: flex;
    align-items: center;
}

.Normal-brand img {
    max-width: 120px;
    height: auto;
}

.Normal-brand svg {
    max-width: 65px;
}

.Normal-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 320px;
    height: 100vh;
    padding: 0;
    overflow: hidden;
    transition: all 0.4s ease-in-out;
    transform: translateX(-150%);
    z-index: 10;
    background-color: #ffffff;
}

.Normal-menu-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 35px;
    border-bottom: 1px solid rgba(107, 114, 128, 0.2);
}

.Normal-menu-is-active .Normal-menu {
    transform: translateX(0%);
}

.Normal-menu-inner {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 24px;
    row-gap: 20px;
}

.Normal-menu-link {
    font-size: 18px;
    font-weight: 500;
    color: #6b7280;
    transition: all 0.3s ease;
}

.Normal-menu-link:hover {
    color: #b8860b;
}

.Normal-menu-block {
    display: flex;
    column-gap: 30px;
    margin-left: auto;
    align-items: center;
}

.Normal-menu-block-link {
    color: #6b7280;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 17px;
    font-weight: 500;
    text-align: center;
    margin-left: auto;
    transition: all 0.3s ease-in-out;
}

.Normal-menu-block-link:hover {
    color: #b8860b;
}

.Normal-menu-block-link .bx {
    font-size: 20px;
}

.Normal-burger {
    position: relative;
    display: block;
    cursor: pointer;
    user-select: none;
    order: -1;
    padding: 5px;
    border-radius: 5px;
    border: none;
    outline: auto;
    background: none;
    visibility: visible;
    transform: rotate(0deg);
    transition: 0.35% ease;
    margin-right: 24px;
}

.Normal-burger-line-wrapper {
    height: 20px;
    width: 20px;
    position: relative;
}

.Normal-burger-line {
    position: absolute;
    display: block;
    left: 0px;
    width: 20px;
    height: 2px;
    border: none;
    outline: none;
    opacity: 1;
    border-radius: 20px;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;
    background-color: #6b7280;
}

.Normal-burger-line:nth-child(1) {
    top: 0px;
}

.Normal-burger-line:nth-child(2) {
    top: 0.5rem;
    width: 70%;
}

.Normal-burger-line:nth-child(3) {
    top: 1rem;
}

.Normal-close-menu {
    order: 0;
    background-color: #ffffff;
}

.Normal-header-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 8;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    visibility: hidden;
    opacity: 0;
    transition: all 0.4s ease-in-out;
}

.Normal-menu-is-active .Normal-header-backdrop {
    visibility: visible;
    opacity: 0.3;
}

.Normal-burger.is-active .Normal-burger-line:nth-child(1) {
    top: 0.5rem;
    transform: rotate(135deg);
}

.Normal-burger.is-active .Normal-burger-line:nth-child(2) {
    opacity: 0;
    visibility: hidden;
}

.Normal-burger.is-active .Normal-burger-line:nth-child(3) {
    top: 0.5rem;
    transform: rotate(-135deg);
}

/* Hero Section Start */
.Normal-hero-section {
    position: relative;
    padding-bottom: 140px;
    overflow: hidden;
    max-height: 100vh;
}

.Normal-hero-section::before {
    content: "";
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        -33.26deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.85) 100%
    );
    z-index: 1;
}

.Normal-hero-section::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 550px;
    z-index: 5;
    background-image: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0.9),
        rgba(255, 255, 255, 0.9)
    );
}

.Normal-hero-image-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
}

.Normal-hero-image-wrapper img {
    width: 100%;
    height: auto;
}

.Normal-hero-image-wrapper img.sky {
    margin-top: 0%;
    position: relative;
    transform: translateY(-50%);
    height: 100vh;
    object-fit: cover;
}

.Normal-hero-image-wrapper img.mountains {
    margin-top: -170%;
    z-index: 1;
    height: 100vh;
    object-fit: cover;
}

.Normal-hero-image-wrapper img.man-standing {
    margin-top: -150%;
    z-index: 4;
    height: 330px;
    object-fit: cover;
}

.Normal-hero-content {
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
    z-index: 6;
    height: auto;
    width: 100%;
    max-width: 1030px;
    margin: 0 auto;
    padding: 0 24px;
}

.Normal-hero-subtitle {
    font-size: 12px;
    color: #b8860b;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    margin-bottom: 32px;
    text-transform: uppercase;
    letter-spacing: 6px;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    gap: 32px;
}

.Normal-hero-subtitle::before {
    content: "";
    height: 2px;
    width: 40px;
    background-color: #b8860b;
    display: inline-block;
}

.Normal-hero-title {
    font-size: 40px;
    line-height: 40px;
    font-weight: 500;
    color: #374151;
    margin-bottom: 32px;
}

.Normal-hero-title span {
    display: inline-block;
}

.Normal-hero-action {
    font-size: 18px;
    font-weight: bold;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    color: #374151;
}

.Normal-hero-action:hover {
    color: #b8860b;
}

.Normal-hero-action svg {
    animation: scroll-down-arrow 2.5s infinite;
}

@keyframes scroll-down-arrow {
    0%,
    20%,
    55%,
    80%,
    100% {
        transform: translate3d(-50%, 0, 0);
    }

    40% {
        transform: translate3d(-50%, -15px, 0);
    }

    70% {
        transform: translate3d(-50%, -10px, 0);
    }

    90% {
        transform: translate3d(-50%, -5px, 0);
    }
}

/* Hero Section End */

.Normal-content-section {
    position: relative;
    z-index: 5;
    margin-top: -50%;
    background-color: #ffffff;
}

.Normal-content-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
}

.Normal-content-wrapper:not(:last-child) {
    margin-bottom: 80px;
}

.Normal-content-wrapper .Normal-content-image {
    width: 100%;
}

.Normal-content-image img {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    object-fit: cover;
    transition: all 0.4s ease-in-out;
}

.Normal-content-content {
    flex: 1;
    padding-left: 0px;
}

.Normal-content-subtitle {
    font-size: 14px;
    color: #b8860b;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    letter-spacing: 6px;
    margin-bottom: 27px;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    gap: 32px;
    position: relative;
    transition: all 0.4s ease-in-out;
}

.Normal-content-subtitle::before {
    content: "";
    height: 2px;
    width: 40px;
    background-color: #b8860b;
    display: inline-block;
}

.Normal-content-title {
    font-size: 34px;
    color: #374151;
    margin-bottom: 27px;
    font-weight: 500;
}

.Normal-content-title span {
    display: inline-block;
    transition: all 0.4s ease-in-out;
}

.Normal-content-copy {
    font-size: 14px;
    color: #6b7280;
    line-height: 32px;
    margin-bottom: 27px;
    transition: all 0.4s ease-in-out;
}

.Normal-content-action {
    color: #b8860b;
    display: inline-flex;
    align-items: center;
    gap: 16px;
    transition: all 0.4s ease-in-out;
}

.Normal-content-action:hover {
    gap: 20px;
    color: #d4a017;
}

.Normal-content-subtitle .counter {
    font-size: 140px;
    font-weight: bold;
    color: rgba(107, 114, 128, 0.1);
    position: absolute;
    left: 0%;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.4s ease-in-out;
    letter-spacing: 0;
}

/* Footer Section Start */

.Normal-footer {
    padding-top: 100px;
    padding-bottom: 50px;
    background-color: #ffffff;
}

.Normal-footer-row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 50px;
}

.Normal-footer-column-logo {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.Normal-footer-copy-rights {
    color: #6b7280;
    font-size: 14px;
    font-weight: 500;
    margin-top: auto;
}

.Normal-footer-column-link {
    width: auto;
}

.Normal-footer-logo {
    margin-bottom: 19px;
}

.Normal-footer-copy {
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
    color: #6b7280;
    margin-bottom: 24px;
}

.Normal-footer-heading {
    font-size: 24px;
    color: #b8860b;
    font-weight: bold;
    margin-bottom: 24px;
    font-family: "Roboto", sans-serif;
}

.Normal-footer-links-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.Normal-footer-links-item a {
    color: #6b7280;
    font-size: 18px;
    line-height: 32px;
    transition: all 0.3s ease;
}

.Normal-footer-links-item a:hover {
    color: #b8860b;
}

/* Footer Section End */

.Normal-slider {
    position: fixed;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    text-align: right;
    z-index: 9;
}

.Normal-slider .container {
    padding: 0;
    display: flex;
    gap: 32px;
    justify-content: flex-end;
    max-width: 1500px;
}

.Normal-slider-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 15px 0;
}

.Normal-slider-list-item a {
    color: #6b7280;
    font-weight: bold;
    transition: all 0.3s ease;
}

.Normal-slider-list-item a:hover {
    color: #b8860b;
}

.Normal-slider-progress {
    height: auto;
    width: 4px;
    background-color: rgba(107, 114, 128, 0.2);
}

.Normal-slider-progress-bar {
    width: 100%;
    height: 100%;
    background-color: #b8860b;
}